<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>GroceryServlet2</display-name>


	<welcome-file-list>
		<welcome-file>index1.html</welcome-file>
	</welcome-file-list>
	 <error-page>  
  <exception-type>java.lang.Exception</exception-type>  
  <location>/error.jsp</location>  
  </error-page>  
	
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<servlet-class>MainServlet.DemoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DemoServlet</servlet-name>
		<url-pattern>/home1</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DemoServlet2</servlet-name>
		<servlet-class>MainServlet.DemoServlet2</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>DemoServlet2</servlet-name>
		<url-pattern>/viewgoods</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DemoServlet3</servlet-name>
		<servlet-class>MainServlet.DemoServlet3</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>DemoServlet3</servlet-name>
		<url-pattern>/viewsupplier</url-pattern>
	</servlet-mapping>




</web-app>
	